/* Flytter hele diven med id skjema med 15px til høyere */
#skjema {
    margin-left: 15px;
}
/* gjør alle feilmeldingene med classe label rød  */
.label {
    color: red;
}

/*Gir mer plass mellom td taggene med id=td  */
#td {
    padding: 10px;
}

/*Gir mer plass mellom th taggene med id=th  */
#th {
    padding: 10px;
}